.containHomeApp{
    padding: 10px;
    .titleTop{
        font-size: 25px;
        font-family: var(--fontFamilly);
        font-weight: bold;
        color: darkgray;
    }

    .containerSerie{
        display: flex;
    }

    .afficheSerie{
        width: auto;
        margin: 5px 10px;

        .nameSerie{
            font-size: 15px;
            font-family: var(--fontFamilly);
            font-weight: bold;
            color: darkgray;
            text-align: center;
        }
        .imgAffiche{
            img{
                width: 200px;
                height: 290px;
            }
        }
    }
}