.reservationBox{
    display: block;
    padding: 50px;
    font-family: var(--fontFamilly);
    .top{
        display: block;
        color: var(--palette-bgc-color);
        font-family: var(--fontFamilly);
        font-size: 30px;
        padding: 10px;

    }
    .searchBox{
        display: flex;
        justify-content: center;
        align-items: center;
        .searchBoxbis{
            position: relative;
            background-color: rgba(229, 9, 20, 0.09);
            /* margin: 10px 10px; */
            width: 365px;
            /* padding: 13px 20px; */
            border: 1px solid #696969;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px 20px;
            height: 50px;
            border-radius: 5px;
            img{
                width: 30px;
                position: absolute;
                top: 9px;
                right: 13px;
            }
            #serchesze{
                margin: 0;
                border: none;
                /* display: flex; */
                /* justify-content: center; */
                /* align-items: center; */
                padding: 0;
                background: transparent;
                outline: unset;
                height: 100%;
                width: 100%;
            } 
             
        }
    }
    .center{
        
        .center-top{
            display: flex;
            .left{
                display: flex;
                padding: 20px;
                .affiche{
                    img{
                        width: 377px;
                    }
                }
                .info{
                    margin-left: 50px;
                    width: 375px;
                    .titre{
                        font-size: 110px;
                    }
                    .acteur{
                        font-size: 27px;
                        ul{
                            padding-left: 30px;
                            li{
                                list-style: none;
                            }
                        }
                    }
                    .resum{
                        font-size: 20px;
                    }
                    .dateSortie{
                        margin-top: 30px;
                        font-size: 20px;
                    }
                }
            }
            .right{
                .date{

                }

                .hourNformat{

                }
            }
        }
    }
}
