/* FONT IMPORTATION */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@100;300&family=Quicksand:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

/* LESS Style Importation */

:root {
    --palette-bgc-color: #E50914;
    --palette-text-color:#fff;
    --palette-bd-color:#000;
    --palette-head-color:#000;

    --fontFamilly : 'Hubballi', cursive;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--palette-bgc-color);
    border-radius: 10px;
}
  

*{
    box-sizing: border-box;
}

/* LESS Files Importation */

@import url('./Membre.less');
@import url('./Parameter.less');
@import url('./Home.less');
@import url('./OneSerie.less');
@import url('./SerieChoose.less');
@import url('./preference.less');
@import url('./reservation.less');
@import url('./Messenger.less');

/* CSS Files Importation */

@import url('./netflixanimation.css');

a{
    text-decoration: none;
}
.addredBGC{
    background-color: #E50914;
}


