<script type="text/x-template" id="parameter">
    <div class="parameter_Contain">
        <div class="box_parameter" >
            <div class="box_parameter_left">
                <ul>
                    <li id="parameter">Paramettre</li>
                    <li id="serie">Gestion Serie</li>
                    <li id="film">Gestion Films</li>
                    <li id="reservation">Plateformes réservation</li>
                    <li>Messagerie</li>
                </ul>
            </div>
            <div class="box_parameter_center">
                <ul id="parameter_fonction">
                    <li>Modifier profile</li>
                    <li>Changer mot de passe</li>
                    <li>Activité de connexion</li>
                </ul>
                <ul id="serie_fonction">
                    <li id="_addSerie">Ajouter série</li>
                    <li id="_addSaison">Ajouter saison</li>
                    <li id="_addEpisode">Ajouter épisode</li>
                    <li id="_hideSerie">Masquer Serie</li>
                </ul> 
                <ul id="movie_fonction">
                    <li id="_addFilm">Ajouter Film</li>
                    <!-- <li id="_hideFilm">Masquer</li> -->
                </ul>
                <ul id="reservation_fonction">
                    <li id="_addSeance">Ajouter séance</li>
                    <!-- <li>Consulter</li>
                    <li>Modifier Horaire séance</li> -->
                </ul>
            </div>
            <div class="box_parameter_right">


                <!-- Container New serie -->
                <div class="addSerie_contain newAdd">
                    <div class="facultatTitle">Nouvelle Serie</div>
                    <form action="" ENCTYPE="multipart/form-data" class="allDataSerie">
                        <div class="top_adsc">
                                <div class="left_adsc">
                                    <div class="titleSerie">
                                        <input type="text" name="titleSerie" id="titleSerie" class="tilte dataSerie" placeholder="Nom">
                                    </div>
                                    <div class="acterSerie">
                                        <div class="lcas">
                                            <input type="text" name="acterSerie1" id="" class="acteur dataSerie" placeholder="Acteur 1">
                                        </div> 
                                        <img src="./img/plus.png" alt="" class="addMoreActers" id="btnAddActer">
                                    </div>
                                    <div class="resume">
                                        <textarea name="resumeSerie" id="" cols="30" rows="10" class="resume dataSerie" placeholder="Résumé de la serie"></textarea>
                                    </div>
                                </div>
                                <div class="right_adsc">
                                    <select name="genre" class="genre dataSerie">
                                        <option value=""> Genre</option>
                                        <option value="Action">Action</option>
                                        <option value="scienceFiction">Science Fiction</option>
                                        <option value="Drame">Drame</option>
                                    </select>
                                    <input type="text" name="realisateurSerie" id="realisateur" class="realisateur dataSerie" placeholder="Realisateur"> 
                                    <input type="text" name="anneeSerie" id="annee" placeholder="Année" class="annee dataSerie">
                                    <label for="imageSerie">
                                        <div class="btnAddImg">Image</div>
                                    </label>
                                    <input type="file" name="imgSeries" id="imageSerie" class="imageSerie dataSerie">
                                </div>
                        </div>
                        <div class="bottom_adsc">
                            <input type="submit" id="btnAddSerie" value="Ajouter"> <input type="reset" class="btnReset" value="Annuler">
                        </div>
                    </form>
                    <div class="msgAdd msgAddserie">
                        <div class="sucess"></div>
                        <div class="echec"></div>
                    </div>
                </div>

                <!-- Container New saison -->
                <div class="addSaison_contain newAdd">
                    <div class="facultatTitle">Nouvelle Saison</div>
                    <div class="info">
                        <select name="serieChoose" class="serieChoose dataSaison">
                            <option v-for="serie in serieList" :value="serie.titre">{{serie.titre}}</option>
                        </select>
                        <select name="saison" class="saison dataSaison">
                            <option v-for="n in 30" v-bind:value="'Saison ' + n"> Saison {{n}}</option>
                        </select>
                    </div>
                    <div class="bottom_adsc">
                        <input type="submit" id="btnAddSaison" value="Ajouter"> <input type="reset" class="btnReset" value="Annuler">
                    </div>
                    <div class="msgAdd msgAddsaison">
                        <div class="sucess"></div>
                        <div class="echec"></div>
                    </div>
                </div>

                <!-- New episode -->
                <div class="addEpisode_contain newAdd">
                    <div class="facultatTitle">Nouvel Episode</div>
                    <form action="" ENCTYPE="multipart/form-data" class="allDataEpisode">
                        <div class="top_adsc">
                                <div class="left_adsc">
                                    <div class="titleSerie">
                                        <input type="text" name="titleEpisode" id="titleEpisode" class="titleEpisode dataEpisode" placeholder="Nom">
                                    </div>
                                    <div class="resume">
                                        <textarea name="resumeEpisode" id="" cols="30" rows="10" class="resume dataEpisode" placeholder="Résumé de la serie"></textarea>
                                    </div>
                                </div>
                                <div class="right_adsc">
                                    <select name="serie" class="genre dataEpisode">
                                        <option v-for="serie in serieList" :value="serie.titre">{{serie.titre}}</option>
                                    </select>
                                    <select name="saison" class="saison dataEpisode">
                                        <option value=""> Saison</option>
                                        <option v-for="n in 30" v-bind:value="'Saison ' + n"> Saison {{n}}</option>
                                    </select>
                                    <select name="format" class="format dataEpisode">
                                        <option value=""> Format</option>
                                        <option value="4K">4K</option>
                                        <option value="2K">2K</option>
                                        <option value="HD">HD</option>
                                    </select>
                                    <select name="version" class="version dataEpisode">
                                        <option value=""> Version</option>
                                        <option value="Français">Français</option>
                                        <option value="Anglais">Anglais</option>
                                        <option value="Espagnol">Espagnol</option>
                                        <option value="Arabe">Arabe</option>
                                    </select>
                                    <label for="videoSerie">
                                        <div class="btnAddImg">Video</div>
                                    </label>
                                    <input type="file" name="videoSerie" id="videoSerie" class="videoSerie dataEpisode">
                                </div>
                        </div>
                        <div class="bottom_adsc">
                            <input type="submit" id="btnAddEpisode" value="Ajouter"> <input type="reset" class="btnReset" value="Annuler">
                        </div>
                    </form>
                    <div class="msgAdd msgAddserie">
                        <div class="sucess"></div>
                        <div class="echec"></div>
                    </div>
                </div>

                <!-- Hide Serie -->
                <div class="hideSerie_PrincipalContain newAdd">
                    <div class="facultatTitle">Masquer Serie</div>
                    <ul class="hideSerie_contain">
                        <li v-for="serie in serieList" v-bind:id="'lineSerie'+serie.id"> <div class="titleof">{{serie.titre}}</div> <div class="btnHide"><button @click="masqueSerie(serie.id)">Masquer</button></div> </li>
                    </ul>
                </div>

                <!-- Container Film -->
                <div class="addFilm_contain newAdd">
                    <div class="facultatTitle">Nouvelle Film</div>
                    <form action="" ENCTYPE="multipart/form-data" class="allDataFilm">
                        <div class="top_adsc">
                                <div class="left_adsc">
                                    <div class="titleSerie">
                                        <input type="text" name="titleSerie" id="titleSerie" class="tilte dataSerie" placeholder="Nom">
                                    </div>
                                    <div class="acterSerie">
                                        <div class="lcas acterContainFilm">
                                            <input type="text" name="acterSerie1" id="" class="acteur dataSerie" placeholder="Acteur 1">
                                        </div> 
                                        <img src="./img/plus.png" alt="" class="addMoreActers acterFilm" id="btnAddActer">
                                    </div>
                                    <div class="resume">
                                        <textarea name="resumeSerie" id="" cols="30" rows="10" class="resume dataSerie" placeholder="Résumé du film"></textarea>
                                    </div>
                                </div>
                                <div class="right_adsc">
                                    <select name="genre" class="genre dataSerie">
                                        <option value=""> Genre</option>
                                        <option value="Action">Action</option>
                                        <option value="scienceFiction">Science Fiction</option>
                                        <option value="Drame">Drame</option>
                                    </select>
                                    <input type="text" name="realisateurSerie" id="realisateur" class="realisateur dataSerie" placeholder="Realisateur"> 
                                    <input type="text" name="anneeSerie" id="annee" placeholder="Année" class="annee dataSerie">
                                    <label for="imageFilm">
                                        <div class="btnAddImg">Image</div>
                                    </label>
                                    <input type="file" name="imgFilm" id="imageFilm" class="imageSerie dataSerie">

                                    <input type="file" name="mvSeries" id="movie" class="imageSerie dataSerie">
                                    <label for="movie">
                                        <div class="btnAddImg">Video</div>
                                    </label>
                                </div>
                        </div>
                        <div class="bottom_adsc">
                            <input type="submit" id="btnAddFilm" value="Ajouter"> <input type="reset" class="btnReset" value="Annuler">
                        </div>
                    </form>
                    <div class="msgAdd msgAddserie">
                        <div class="sucess"></div>
                        <div class="echec"></div>
                    </div>
                </div>

                <!-- ADD NEW SEANCE -->
                <div class="addSeance_contain newAdd">
                    <div class="facultatTitle">Nouvelle séance</div>
                    <!-- <div class="choice">
                        <div>Film</div>
                        <div>Episode</div>
                    </div> -->
                    <div class="contain_Adder">
                        <div class="filmContainAdder">
                            <select name="filmChoice" class="filmChoose dataAddfilmseance">
                                <option v-for="film in allFilm" :value="film.titre">{{film.titre}}</option>
                            </select>
                            <input type="date" name="date" class="dataAddfilmseance">
                            <input type="time" name="heure" id="" class="dataAddfilmseance">
                            <select name="format" id="" class="dataAddfilmseance">
                                <option value="4K">4K</option>
                                <option value="4K">2K</option>
                                <option value="4K">HD</option>
                                <option value="4K">3D</option>
                            </select>
                            <select name="salle" class="salle dataAddfilmseance">
                                <option value=""> Salle</option>
                                <option v-for="n in 20" v-bind:value="'Salle ' + n"> Salle {{n}}</option>
                            </select>
                        </div>
                        <!-- <div class="serieContainAdder">
                            <select name="serie" id="" class="dataAddserieseance">
                                <option value="">Serie</option>
                            </select> 
                            <select name="serie" id="" class="dataAddserieseance">
                                <option value="">Saison</option>
                            </select>
                            <input type="date" name="date" class="dataAddserieseance">
                            <input type="time" name="heure" id="" class="dataAddserieseance">
                            <select name="format" id="" class="dataAddserieseance"></select>
                        </div> -->
                        <div class="bottom_adsc">
                            <input type="submit" id="btnAddSeance" value="Ajouter"> <input type="reset" class="btnReset" value="Annuler">
                        </div>
                        <div class="msgAdd msgAddserie">
                            <div class="sucess"></div>
                            <div class="echec"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

